{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign mpn = current_variant.metafields['mm-google-shopping'].mpn
  assign ean = current_variant.barcode
-%}

{%- capture identifiers_data -%}
  {
    {%- for variant in product.variants -%}
      "{{ variant.id }}": {
        "mpn": {{ variant.metafields['mm-google-shopping'].mpn | json }},
        "ean": {{ variant.barcode | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
{%- endcapture -%}

<div class="custom-product-meta-grid" id="ProductIdentifiers-{{ section.id }}" data-section-id="{{ section.id }}" data-stock-by-location-container>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">MPN</span>
    <p class="custom-product-meta-grid__value" data-product-mpn>
      {%- if mpn != blank -%}
        {{ mpn }}
      {%- else -%}
        no disponible
      {%- endif -%}
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">EAN13</span>
    <p class="custom-product-meta-grid__value" data-product-ean>
      {%- if ean != blank -%}
        {{ ean }}
      {%- else -%}
        no disponible
      {%- endif -%}
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">Stock en Vitoria</span>
    <p class="custom-product-meta-grid__value">
      <span data-stock-vitoria>Sin stock</span>
      <span class="custom-product-stock__status" data-stock-vitoria-status></span>
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">Stock en Alemania</span>
    <p class="custom-product-meta-grid__value">
      <span data-stock-alemania>Sin stock</span>
      <span class="custom-product-stock__status" data-stock-alemania-status></span>
    </p>
  </div>
</div>

<script type="application/json" id="ProductIdentifiersData-{{ section.id }}">
  {{- identifiers_data | strip_newlines -}}
</script>
