{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign mpn = current_variant.metafields['mm-google-shopping'].mpn
  assign ean = current_variant.barcode
-%}

{%- capture identifiers_data -%}
  {
    {%- for variant in product.variants -%}
      "{{ variant.id }}": {
        "mpn": {{ variant.metafields['mm-google-shopping'].mpn | json }},
        "ean": {{ variant.barcode | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  }
{%- endcapture -%}

<div class="custom-product-meta-grid" id="ProductIdentifiers-{{ section.id }}" data-section-id="{{ section.id }}" data-stock-by-location-container data-not-available-text="{{ 'custom.product.stock.not_available' | t }}" data-status-ok-text="{{ 'custom.product.stock.status_ok' | t }}" data-status-warn-text="{{ 'custom.product.stock.status_warn' | t }}" data-status-out-text="{{ 'custom.product.stock.status_out' | t }}">
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">MPN</span>
    <p class="custom-product-meta-grid__value" data-product-mpn>
      {%- if mpn != blank -%}
        {{ mpn }}
      {%- else -%}
        {{ 'custom.product.stock.not_available' | t }}
      {%- endif -%}
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">EAN13</span>
    <p class="custom-product-meta-grid__value" data-product-ean>
      {%- if ean != blank -%}
        {{ ean }}
      {%- else -%}
        {{ 'custom.product.stock.not_available' | t }}
      {%- endif -%}
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">{{ 'custom.product.stock.vitoria_label' | t }}</span>
    <p class="custom-product-meta-grid__value">
      <span data-stock-vitoria>{{ 'custom.product.stock.out_of_stock' | t }}</span>
      <span class="custom-product-stock__status" data-stock-vitoria-status><span class="visually-hidden" data-stock-status-text></span></span>
    </p>
  </div>
  <div class="custom-product-meta-grid__item">
    <span class="custom-product-meta-grid__label">{{ 'custom.product.stock.alemania_label' | t }}</span>
    <p class="custom-product-meta-grid__value">
      <span data-stock-alemania>{{ 'custom.product.stock.out_of_stock' | t }}</span>
      <span class="custom-product-stock__status" data-stock-alemania-status><span class="visually-hidden" data-stock-status-text></span></span>
    </p>
  </div>
</div>

<script type="application/json" id="ProductIdentifiersData-{{ section.id }}">
  {{- identifiers_data | strip_newlines -}}
</script>
